div .f30{ font-size: 30px;font-weight: bolder;
    font-family: 华文彩云 }
#p4{color: black;font-size: 30px;
    font-weight: bolder;font-family: 华文彩云;
    font-style: italic;background: chartreuse;
    border: aqua dashed 10px}